*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 50px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color:  #fef9e7;
}
.tile{
    border: 2px solid;
    background-color:  #17202a ;
    border-radius: 5px;
}
.tile:hover{
    background-color:   #607d8b;
}

#childcont{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color:  #fef9e7;
}