*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #f9f9f9;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-bg: #1e1e1e;
}
body{
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"
        "aside main content"
        "footer footer footer"
    ;
    gap: 5px;
    overflow: auto;
    background-color: var(--card-bg);
}
header, aside, main, #content,footer{
    border: 2px solid;
}

/* header */
header{
    grid-area: header;
    padding: 10px;
    margin: 5px;
}

/* aside */
aside{
    grid-area: aside;
    padding: 10px;
    margin: 5px;
}

/* main */
main{
    grid-area: main;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pick{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.tile{
    border: 2px solid gray;
    border-radius: 5px;
}
.tile img{
    height: 97px;
    width: 97px;
    object-fit: cover;
}

#pop-up {
    display: none;
    z-index: 1000; /* Ensure it’s above everything */
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff3e0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.cont{
    height: auto;
    min-height: 300px;
    width: 300px;
    padding: 5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.close{
    background-color:    #d0ece7;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    float: right;
    padding: 0 10px;
    margin: 10px;
}
.start{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    background-color: #d0ece7;
}

/* content */
#content{
    grid-area: content;
    padding: 10px;
    margin: 5px;
}


/* footer */
footer{
    grid-area: footer;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
#icons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#icons a{
  text-decoration: none;
  display: flex;
  margin: 10px;
  padding-left: 2px;
  color: var(--text-color);
}

#icons i{
  font-size: 24px;
}
#copy{
  color: var(--text-color);
}